# extensions
*.egg-info
*.py[cod]

# envs
.pt13
.pt2

# directories
/checkpoints
/dist
/outputs
/build
/videos
/logs
/images
__pycache__/
/wandb
main.log
"notebooks/side_by_side copy.ipynb"
notebooks/side_by_side.ipynb

/custom_inputs
/data
/pretrained_models

# /sruns_rodrigo
*.mp4
*.pt
*.png
*.pth

filelist_inference.txt
filelist_inference_audio.txt

# SLURM job logs and per-run scratch dirs
/slurm_logs/
/data_demo1/
